body {
    margin: 0;
    padding: 0;
}
main {
    padding: 16px;
}
footer {
    padding: 50px 0px 50px;
}
img {
    height: 200px;
}
nav {
    padding: 16px;
    border-bottom: 1px solid grey;
    background-color: lightskyblue;
}
a {
    text-decoration: none;
    color: darkslateblue;
}
main > div {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 400px 400px;
}
